{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}
{% block main %}
<h2>Transaction History</h2>
<p>List of all transactions throught the lifetime of your portfolio</p>
<table class="table table-hover">
   <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Transaction Date</th>
      <th scope="col" style="text-align: right">Transaction</th>
    </tr>
  </thead>
  <tbody>
  {% for info in transactions %}
  <tr>
     <td>{{ info.stock_symbol }}</td>
     <td>{{ info.shares }}</td>
     <td>{{ info.transaction_date }}</td>
     <td style="text-align:right">{{ info.portfolio_transaction }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
